[submodule "fprime"]
	path = fprime
	url = https://github.com/nasa/fprime.git
[submodule "fprime-subtopology-tool"]
	path = fprime-subtopology-tool
	url = https://github.com/mosa11aei/fprime-subtopology-tool.git
